<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096058629309-6n6eung8afoft56s66j6d5ls029ss3qo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096058629309-6n6eung8afoft56s66j6d5ls029ss3qo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1096058629309-35hc1jjtui9o0ckq2b2clt1vfihllf6i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdIXGvetLBnNDyLPlnNUFn0_6SMO3b-Ls</string>
	<key>GCM_SENDER_ID</key>
	<string>1096058629309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raghav.home</string>
	<key>PROJECT_ID</key>
	<string>gccp-project-373305</string>
	<key>STORAGE_BUCKET</key>
	<string>gccp-project-373305.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096058629309:ios:4bd4ce91528851447f1bd4</string>
</dict>
</plist>